<script nonce="{{nonce}}" src="{{asset "/form_manager.js"}}" ></script>
<link rel="stylesheet" type="text/css" href="{{asset "/styles.css"}}">
<script nonce="{{nonce}}" src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script nonce="{{nonce}}" src="{{asset "/templates/plugin-configurable-option.js"}}" ></script>
<div id="dbaas-catalog">
<h1 class="catalog-item-header" style="font-size: 30px;">Create a PostgreSQL instance</h1>
<p>Morpheus database services enable developers to focus on coding and not worry about administering their database.</p>
<!--<div id="custom-catalog-content" class="page-content">-->
	<div class="catalog-item-details">
		<form id="catalog-form" action="/service-catalog/catalog/7/add" method="post" class="order-form" enctype="application/json">
			<input id="submissionInput" type="hidden" name="_csrf" value="{{nonce}}">
			<input type="hidden" name="catalogItem.type.id" value="7" id="catalogItem.type.id">
			<div class="form-group">
				<label for="exampleInputPassword1" style="display:block;font-weight:bold;">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				<small style="margin-bottom: 10px" id="emailHelp" class="form-text text-muted">Set a password for the default admin user "postgres".</small>
				<a style="color: #253746;font-weight: bold; display: block" id="generateRandomPassword">
					<span>Generate Random Password</span>
				</a>
			</div>
			<div class="form-group">
				<label style="display:block;font-weight:bold;" for="dbaasVersions">PostgreSQL version</label>
				<select id="dbaasVersions" name="dbaasVersions" class="selectpicker">
					<option value="always">PostgreSQL 15</option>
					<option value="days">PostgreSQL 14</option>
					<option value="weeks">PostgreSQL 13</option>
				</select>
				<small style="display:block;" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<hr>
			<div>
				<h1>Cloud Demo</h1>
			</div>
			<input type="hidden" class="order-now" name="orderNow" value="true">
			<button id="orderSubmit" class="button order-now" type="submit">Create Database</button>
		</form>
<!--
			{{#hasWiki}}
				<div class="catalog-item-content wiki-content">
					{{wiki}}
				</div>
			{{/hasWiki}}
			<div class="dbaas-catalog-item-configuration {{#hasWiki}}with-item-content{{/hasWiki}}">
				{{#orderForm}}
					<div class="actions text-right">
						<input type="hidden" class="order-now" name="orderNow" value="false">
						<button class="button order-now" type="submit">Create Database</button>
					</div>
				{{/orderForm}}
			</div>
-->
	</div>
</div>
</div>

<script nonce="{{nonce}}" src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{asset "/bootstrap-select.min.css"}}">
<script nonce="{{nonce}}" src="{{asset "/dbaas.js"}}"></script>

<style>
	input.form-control {
		border-radius: 5px;
		width: 512px;
		height: 36px;
	}

	h1 {
  		font-family: Arial, Helvetica, sans-serif;
	}

	.btn-default {
		background: white;
		border: 1px solid #aaa;
		border-radius: 5px;
	}
</style>